.dado {
    background-image: url('./Dado.png');
    background-size: cover;

    height: 4rem;
    width: 4rem;
    border-radius: 50%;

    position: fixed;
    top: 10rem;
    right: 10rem;

    box-shadow: 2px 2px 6px var(--cor-preto);
    animation: flutuar 2s ease-in-out infinite;
}

.dado:hover {
    transition: .4s;
    cursor: pointer;
    box-shadow: 4px 4px 12px var(--cor-preto);
}

.sorteado-1 {
    background-image: url('./1-Dado.png');
}

.sorteado-2 {
    background-image: url('./2-Dado.png');
}

.sorteado-3 {
    background-image: url('./3-Dado.png');
}

.sorteado-4 {
    background-image: url('./4-Dado.png');
}

.sorteado-5 {
    background-image: url('./5-Dado.png');
}

.sorteado-6 {
    background-image: url('./6-Dado.png');
}

@keyframes flutuar{
	0%, 100%{
		transform:translatey(0)
	}
	50%{
		transform:translatey(-10px)
	}
}
