.cabecalho {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    background-color: var(--cor-principal);
    color: var(--cor-contraste);

    height: var(--espacamento-cabecalho);
    width: 100vw;
}